<a href="https://colab.research.google.com/github/202145225/aipython/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2024-01-02
기본 입출력 예제 연습

In [31]:
# 변수 선언 및 초기화
number = 10

# 변수 값 변경
number = 20

# 변수를 사용한 계산
result = number * 2

# 변수 값 출력
print(result)

40

In [33]:
# 사용자로부터 나이 입력 받기
a = input("당신의 나이는? ")

# 입력받은 나이 출력
print(a, "살 이군요.")

# 입력된 나이의 데이터 타입 출력
print(type(a))

# 다시 사용자로부터 나이 입력 받기
a = input("당신의 나이는? ")

# 입력받은 나이 출력
print(a, "살 이군요.")

# 다음 해에 몇 살이 될지 예측하여 출력
a = int(a)  # 문자열을 정수로 변환
print("내년엔", a + 1, "살이 되네요")

# 입력된 나이의 데이터 타입 출력
print(type(a))

당신의 나이는? 23
23 살 이군요.
<class 'str'>
당신의 나이는? 23
23 살 이군요.
내년엔 24 살이 되네요
<class 'int'>

In [34]:
a = int(input("당신의 나이는?"))
msg = str(a) + "살 이군요."  # 나이를 문자열로 변환하여 연결
print(msg)
print("내년엔", a + 1, "살이 되네요")
print(type(a))

당신의 나이는?23
23살 이군요.
내년엔 24 살이 되네요
<class 'int'>

In [4]:
name = "홍길동"
age = 20.5

# 이름은 홍길동이고 나이는 20.50입니다.

print("이름은 {}이고 나이는 {:.2f}입니다.".format(name, age))

이름은 홍길동이고 나이는 20.50입니다.

In [6]:
#2-6 (variable_demo1.py)
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [7]:
#2-7 (variable_demo2.py)
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실: ', Lab)

우리가 수업하는 실습실:  105

In [9]:
#2-8 (variable_demo3.py)
# 변수 두 개를 생성하고 값을 할당
my_id = 202145225
grade = 3
# 두 개의 변수에 할당된 값을 출력
print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

나의 학번:
202145225
학년:
3

In [12]:
#2-9 (variable_demo4.py)
# 변수에 값을 할당하고 출력하는 예제입니다. # dollars 변수에 값을 할당해봅시다.
dollars = 99999999999999999
print('I have', dollars, 'in my account.')
# dollars 변수에 새로운 값을 할당해봅시다.
dollars = 1
print('But now I have', dollars, 'in my account!')

I have 99999999999999999 in my account.
But now I have 1 in my account!

In [13]:
#2-10 (string_variable.py)
# 두 개의 변수를 생성하고 문자열을 할당합니다.
department = '원예생명과학과'
name = '최유진'
# 각 변수에 할당된 문자열 값을 출력해보자.
print(department, name)

원예생명과학과 최유진

In [14]:
#2-11 (string_input.py)
# 학과명을 입력받습니다.
department = input('학과명: ')
# 여러분의 이름을 입력받습니다.
name = input('성명: ')
# 두 변수의 값을 출력합니다.
print('안녕하세요', department, name)

학과명: 원예생명과학과
성명: 최유진
안녕하세요 원예생명과학과 최유진

In [16]:
#2-12 (input.py)
# 여러분의 이름, 나이, 통학시간 정보를 입력받습니다.
name = input('당신의 이름은 무엇입니까? ')
age = int(input('나이는 어떻게 되시나요? '))
attending_time = float(input('통학시간은 얼마나 걸립니까? '))

# 변수에 입력된 데이터를 출력해봅시다.
print('입력 정보는 다음과 같습니다.')
print('이름:', name)
print('나이:', age)
print('통학시간:', attending_time)

당신의 이름은 무엇입니까? 유잔
나이는 어떻게 되시나요? 23
통학시간은 얼마나 걸립니까? 4
입력 정보는 다음과 같습니다.
이름: 유잔
나이: 23
통학시간: 4.0

In [18]:
#2-13 (simple_math.py)
# salary 변수에 급여를 할당합니다.
salary = 9999999
# bonus 변수에 보너스를 할당합니다.
bonus = 2
# 급여와 보너스를 더하여 총 급여를 구해봅니다.
# 총 급여를 pay 변수에 할당합니다.
pay = salary + bonus
# 총 급여를 출력합니다.
print('총 급여: ', pay)

총 급여:  10000001

In [19]:
#2-14 (sale_price.py)
# 본 예제에서는 원가에 할인율을 적용하여 할인가격을 계산해보자.
# original price 변수에 원가를 입력받는다.
original_price = float(input("제품의 원가를 입력해주세요: "))
# 원가에 할인율 20%를 적용하여 할인가를 계산하여 discount 변수에 할당한다.
discount = original_price * 0.2
# 원가에 할인가가 적용된 제품 가격을 계산하여 sale_price 변수에 할당한다.
sale_price = original_price - discount
# 할인가가 적용된 제품 가격을 출력한다.
print('할인가격: ', sale_price)

제품의 원가를 입력해주세요: 600
할인가격:  480.0

In [20]:
#2-15 (test_score_average.py)
# 세 과목의 평가 점수를 입력받고
# test1, test2, test3 변수에 각각 할당한다.
test1 = float(input('첫 번째 과목 점수를 입력해주세요: '))
test2 = float(input('두 번째 과목 점수를 입력해주세요: '))
test3 = float(input('세 번째 과목 점수를 입력해주세요: '))
# 각 과목의 점수 평균을 계산하고
# 그 결과 값을 average 변수에 할당한다.
average = (test1 + test2 + test3) / 3.0
# 점수 평균을 출력한다.
print('3 과목의 평균 점수: ', average)

첫 번째 과목 점수를 입력해주세요: 40
두 번째 과목 점수를 입력해주세요: 65
세 번째 과목 점수를 입력해주세요: 76
3 과목의 평균 점수:  60.333333333333336

In [21]:
#2-16 (time_converter.py)
# 본 예제는 초를 입력받아 시, 분, 초로 변환하는 프로그램이다.
# 초 값을 입력받아 total_seconds 변수에 할당한다.
total_seconds = float(input('시간 값을 초 단위로 입력해주세요: '))
# 시간을 계산하여 hours 변수에 할당한다.
hours = total_seconds // 3600
# 분을 계산하여 minutes 변수에 할당한다.
minutes = (total_seconds // 60) % 60
# 초의 나머지 값을 seconds 변수에 할당한다.
seconds = total_seconds % 60
# 시, 분, 초 값을 출력한다.
print('시 분 초는 다음과 같습니다.')
print('시: ', hours)
print('분: ', minutes)
print('초: ', seconds)

시간 값을 초 단위로 입력해주세요: 50000
시 분 초는 다음과 같습니다.
시:  13.0
분:  53.0
초:  20.0

In [23]:
#2-17 (future_value.py)
# 본 예제는 목표액을 특정 이율로 얻고자 할 경우 매년 적립해야할 금액을 계산해보자.
# 목표액을 입력받고 future_value 변수에 할당한다.
future_value = float(input('목표 금액을 입력해주세요: '))
# 연간 이율을 입력받고 rate 변수에 할당한다.
rate = float(input('연간 이율을 입력해주세요: '))
# 적립 기간을 입력받고 years 변수에 할당한다.
years = int(input('저축 기간을 연 단위로 입력해주세요: '))
# 특정 기간동안 적립해야할 금액을 계산하여 present_value 변수에 할당한다.
present_value = future_value / (1.0 + rate)**years
# 적립 금액을 출력한다.
print('적립 금액: ', present_value)

목표 금액을 입력해주세요: 50000000
연간 이율을 입력해주세요: 8
저축 기간을 연 단위로 입력해주세요: 2
적립 금액:  617283.9506172839

In [24]:
#2-18 (separator.py)
# print() 함수에서 쉼표로 데이터를 구분하여 출력할 때
# 자동적으로 분리되는 빈 칸을 sep 옵션으로 제어할 수 있다.
print('a','b','c')
print('a','b','c',sep='')
print('a','b','c',sep='***')

a b c
abc
a***b***c

In [26]:
#2-19 (end.py)
# print() 함수를 여러 번 사용할 경우, 각 print() 함수가 수행된 후에는
# 자동적으로 줄바꿈이 일어난다. 이는 커서가 자동으로 내려가기 때문인데
# 커서를 줄바꿈시키지 않고 바로 옆에 놓고 같은 줄에 여러 print() 함수의 내용을
# 나타내고자 할 때 end 옵션을 사용할 수 있다.
print('a')
print('b')
print('c', end='')
print('d', end='')
print('e', end='***')
print('f')

a
b
cde***f

In [27]:
#2-20 (no_forrmatting.py)
# 본 예제는 부동 소수점이 출력되는 연산을 수행해본다.
# 소수점 길이를 제어하지 않고 결과 값을 출력한다.
amount_due = 9000.0
monthly_payment = amount_due / 12.0
print('월급여: ', monthly_payment)

월급여:  750.0

In [28]:
#2-21 (formatting.py)
# 본 예제에서는 소수점 자리를 제어하여 결과를 출력해보자.
amount_due = 960000
monthly_payment = amount_due / 12
print('월급여: ', format(monthly_payment, '.2f'))

월급여:  80000.00

In [36]:
#2-22 (dollar_display.py)
# 본 예제도 소수점 자리를 제어하여 결과를 출력해보자.
monthly_pay = 90000000
annual_pay = monthly_pay * 12
print('Your annual pay is $', format(annual_pay, ',.2f'), sep='')

Your annual pay is $1,080,000,000.00

In [30]:
#2-23 (columns.py)
# 본 예제는 부동 소수점을 특정 너비에 맞추어 출력하는 방법에 대해 알아보자.
# 아래와 같이 각 변수에 부동 소수점이 포함된 값을 할당한다.
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999
# 7칸에 맞추어 부동 소수점이 포함된 변수 값을 출력한다.
print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00